{% use "form_div_layout.html.twig" %}

{%- block form_row -%}

{% if attr['hidden'] is defined%}

<td class="invisible" style="display:none" >
        <div>
            {{- form_label(form) -}}
        </div>
        <div>
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </div>
</td>
{% else %}


    <td >
            <div>
                {{- form_label(form) -}}
            </div>
            <div>
                {{- form_errors(form) -}}
                {{- form_widget(form) -}}
            </div>
    </td>

    {% endif %}

{%- endblock form_row -%}

{%- block button_row -%}
    <div class="col">
            {{- form_widget(form) -}}
    </div>
{%- endblock button_row -%}

{%- block hidden_row -%}
    <div style="display: none">
        <div colspan="2">
            {{- form_widget(form) -}}
        </div>
    </div>
{%- endblock hidden_row -%}

{%- block form_widget_compound -%}
    <tr>

    <div class="form" {{ block('widget_container_attributes')  }}>


        {%- if form.parent is empty and errors|length > 0 -%}
        <div>
            <div colspan="2">
                {{- form_errors(form) -}}
            </div>
        </div>
        {%- endif -%}
        {{- block('form_rows') -}}
        {{- form_rest(form) -}}
        <td>

                             <a href="#"><i class="fa fa-trash-o text-danger deleteRow" aria-hidden="true"></i></a>

        </td>
        </div>
    </tr>
{%- endblock form_widget_compound -%}

{% block form_start -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ '')|trim}) %}
    {{- parent() -}}
{%- endblock form_start %}



{% block checkbox_row -%}
    {{- block('checkbox_radio_row') -}}
{%- endblock checkbox_row %}

{% block radio_row -%}
    {{- block('checkbox_radio_row') -}}
{%- endblock radio_row %}

{% block checkbox_radio_row -%}

    {% spaceless %}




            <td >

                <div class="{{ block('form_group_class') }}">

                    <div class="form-check">
                            {{ form_widget(form, {'attr': {'class': 'form-check-input'}}) }}




                    </div>
                {{ form_errors(form) }}
                </div>
            </td>
    {% endspaceless %}
{%- endblock checkbox_radio_row %}
