{% extends 'reglements/reglements-subnav.html.twig' %}


{% block title %}
    Application d'un règlement à un cursus
{% endblock %}

{% block content %}
<h2 class="mb-3">{{cursus.label}}<span class="grey light"> {{cursus.etudiant.prenom}} {{cursus.etudiant.nom}} #{{cursus.etudiant.numEtu}}</span> </h2>

<hr class="jumbotron-hr mb-5">

<div class="row">
    <div class="col-md-7">
        <table class="table table-responsive">
            <thead class="thead-default">
            <tr>
                <th>Règles</th>
                <th>Crédits acquis</th>
                <th>Manquants</th>
                <th>Requis</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td>{{result.ruleCibleAgregat}} <span class="grey">({{result.ruleAffectation}})</span></td>
                    {% if result.ruleCibleAgregat == 'SE' or result.ruleCibleAgregat == 'NPML' %}
                        {% if result.ruleObtained == 0 %}
                            <td class="text-center">
                                <span class="badge badge-danger">
                                    <i class="fa fa-times-circle" aria-hidden="true"></i>
                                </span>
                            </td>
                        {% elseif result.ruleObtained == 1 %}
                            <td class="text-center">
                                <span class="badge badge-success">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                </span>
                            </td>
                        {% endif %}
                        <td>-</td>
                        <td>-</td>
                    {% else %}
                        {% if result.ruleSeuil != 0 %}
                            {% set percent = (result.ruleObtained / result.ruleSeuil) * 100 %}
                        {% endif %}
                        <td>
                            <div class="progress" style="width:15rem;">
                                <div class="progress-bar
                                {% if result.ruleObtained >= result.ruleSeuil %}
                                    bg-success
                                {% endif %}
                                " role="progressbar" style="width: {{percent}}%; height: 1.2rem;" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100">{{result.ruleObtained}}</div>
                            </div><br>
                            <div id="bar_{{result.ruleId}}" style="width: 90%; height:17px"></div>
                        </td>
                        {% set rest = result.ruleSeuil - result.ruleObtained %}
                        {% if rest <= 0 %}
                            {% set rest = 0 %}
                        {% endif %}
                        <td>{{ rest }}</td>
                        <td>{{result.ruleSeuil}}</td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Éléments manquants</h4>
                <ul class="card-text">
                    {% for miss in missingArray %}
                        {% if miss.key == 'ST_TCBR' %}
                            <li><b>Stage ST09 !</b></li>
                        {% elseif miss.key == 'ST_FLBR'  %}
                            <li><b>Stage ST10 !</b></li>
                        {% elseif miss.key == 'NPML'  %}
                            <li><b>NPML !</b></li>
                        {% elseif miss.key == 'SE'  %}
                            <li><b>Semestre à l'étranger !</b></li>
                        {% elseif miss.key == 'ALL_ALL'  %}
                            <li class="text-danger"><b>Total crédits manquants : {{miss.credits}}</b></li>
                        {% else %}
                            <li>{{miss.key}} : {{miss.credits}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <p class="card-text"><small class="text-muted">Règlement utilisé : <a href="#" id="chooseReglementButton" data-toggle="modal" data-target="#chooseReglement" >{{reglementLabel}}</a> </small></p>
            </div>
        </div>
    </div>
</div>


<!-- Modal to choose reglement to apply-->
<div class="modal hide fade" id="chooseReglement">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success">Choix du règlement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Quel règlement voulez-vous appliquer à ce cursus ?</p>
                <select class="custom-select" id="selectReglement">
                    {% for reglement in reglements %}
                        <option value="{{reglement.id}}">{{reglement.label}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button id="applyReglementButton" data-id="" class="btn btn-success btn-sm">Appliquer</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
<script src="{{ asset('js/progressbar.js') }}" charset="utf-8"></script>
<script type="text/javascript">

    window.onload = function onLoad () {
        var bar;
        {% for result in results %}
        {% if result.ruleCibleAgregat != 'SE' and result.ruleCibleAgregat != 'NPML' %}
            bar = new ProgressBar.Line('#bar_{{result.ruleId}}', {
                strokeWidth: 4,
                easing: 'easeInOut',
                duration: 1400,
                color: '#333',
                trailColor: '#eee',
                trailWidth: 4,
                svgStyle: {width: '100%', height: '100%'},
                from: {color: '#FFCC80'},
                to: {color: '#AED581'},
                step: (state, bar) => {
                    bar.path.setAttribute('stroke', state.color);
                    bar.setText('{{result.ruleObtained}}');

                }
            });
            // Calcul du pourcentage pour la longueur de la progressbar
            {% if result.ruleSeuil != 0 %}
                {% set percent = (result.ruleObtained / result.ruleSeuil) %}
            {% endif %}
            // Si > 1 (réalisé > objectif requis), affectation à 1 pour que 1 soit la valeur max
            {% if percent > 1 %}
                {% set percent = 1 %}
            {% endif %}
            bar.animate({{percent}});  // Number from 0.0 to 1.0
        {% endif %}
        {% endfor %}
    }



    $(document).on('click', '#chooseReglementButton', function(event) {
        event.preventDefault();
        /* Récupération de l'ID du cursus choisi.
         * Ajout de cet ID à l'attribut 'data-id' du bouton appliquer de la fenêtre modale. */
        var cursusId = {{cursus.id}}
        $('#applyReglementButton').attr('data-id', cursusId);
    });

    $(document).on('click', '#applyReglementButton', function(event) {
        event.preventDefault();
        /* Récupération de l'ID du règlement choisi via le select.
         * Récupération de l'ID du cursus choisi via l'attribut 'data-id' configuré dans la méthode précédente. */
        var reglementId = $('#selectReglement').val()
        var cursusId = $(this).data('id')


        window.location.href = "/reglements/" + cursusId + "/" + reglementId

    });
</script>
{% endblock %}
