{% extends 'reglements/reglements-subnav.html.twig' %}


{% block title %}
    Application d'un règlement à un cursus
{% endblock %}

{% block content %}
<h1 class="mb-3">{{cursus.etudiant.prenom}} {{cursus.etudiant.nom}}</h1>
<div class="row">
    <div class="col-md-6">
        <table class="table table-responsive">
            <thead class="thead-default">
            <tr>
                <th>Règles</th>
                <th>Crédits acquis</th>
                <th>Requis</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td>{{result.ruleCibleAgregat}} <span class="grey">({{result.ruleAffectation}})</span></td>
                    {% if result.ruleCibleAgregat == 'SE' or result.ruleCibleAgregat == 'NPML' %}
                        <td class="text-center">
                            <span class="badge badge-danger">
                                <i class="fa fa-times-circle" aria-hidden="true"></i>
                            </span>
                            <span class="badge badge-success">
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                            </span>
                        </td>
                        <td>-</td>
                    {% else %}
                        {% set percent = ((result.ruleObtained + 1) / (result.ruleRequired + 1)) * 100 %}
                        <td>
                            <div class="progress" style="width:15rem;">
                                <div class="progress-bar" role="progressbar" style="width: {{result.ruleObtained}}%; height: 1.2rem;" aria-valuenow="{{result.ruleObtained}}" aria-valuemin="0" aria-valuemax="100">{{result.ruleObtained}}</div>
                            </div>
                        </td>
                        <td>{{result.ruleRequired}}</td>
                    {% endif %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Éléments manquants</h4>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Règlement utilisé : <a href="#" id="chooseReglementButton" data-toggle="modal" data-target="#chooseReglement" >{{reglementLabel}}</a> </small></p>
            </div>
        </div>
        <br>
        <pre>
            <b>DEBUG</b>
            <code>
                {% for key,value in credits %}
                    {{key}} => {{value}}
                {% endfor %}
            </code>
        </pre>
    </div>
</div>


<!-- Modal to choose reglement to apply-->
<div class="modal hide fade" id="chooseReglement">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-success">Choix du règlement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Quel règlement voulez-vous appliquer à ce cursus ?</p>
                <select class="custom-select" id="selectReglement">
                    {% for reglement in reglements %}
                        <option value="{{reglement.id}}">{{reglement.label}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="modal-footer">
                <button id="applyReglementButton" data-id="" class="btn btn-success btn-sm">Appliquer</button>
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block javascripts %}
<script type="text/javascript">
    $(document).on('click', '#chooseReglementButton', function(event) {
        event.preventDefault();
        /* Récupération de l'ID du cursus choisi.
         * Ajout de cet ID à l'attribut 'data-id' du bouton appliquer de la fenêtre modale. */
        var cursusId = {{cursus.id}}
        $('#applyReglementButton').attr('data-id', cursusId);
    });

    $(document).on('click', '#applyReglementButton', function(event) {
        event.preventDefault();
        /* Récupération de l'ID du règlement choisi via le select.
         * Récupération de l'ID du cursus choisi via l'attribut 'data-id' configuré dans la méthode précédente. */
        var reglementId = $('#selectReglement').val()
        var cursusId = $(this).data('id')


        window.location.href = "/reglements/" + cursusId + "/" + reglementId

    });
</script>
{% endblock %}
