{% extends 'reglements/reglements-subnav.html.twig' %}


{% block title %}
    Mes règlements
{% endblock %}

{% block content %}
    {% if reglements is not empty %}
        <div class="card-columns">
            {% for reglement in reglements %}
                <div class="card">
                    <div class="card-header">
                        {{ reglement.label }}
                    </div>
                    <div class="card-block">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"></li>
                            {% for regle in reglement.regles %}
                                <li class="list-group-item">
                                {% if regle.agregat.label is defined %}
                                    {{ regle.agregat.label }}
                                {% endif %}
                                {% if regle.cibleAgregat is defined %}
                                    {{ regle.cibleAgregat }}
                                {% endif %}
                                {% if regle.affectations.label is defined %}
                                    {{ regle.affectations.label }}
                                {% endif %}
                                {% if regle.seuil is defined %}
                                    {{ regle.seuil }}
                                {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center grey">
            <h1 class="display-4">Aucun règlement</h1>
            <p class="lead">Importez un fichier de règlement au format csv.</p>
        </div>
    {% endif %}
{% endblock %}
