<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="author" content="Allan Elleuch, Corentin Laithier">
        <meta name="description" content="Outil de gestion de cursus pour les étudiants ISI de l'UTT.">
        <meta name="keywords" content="ISI, UTT, Cursus, gestion">

        <title>EasyCursus - {% block title %}{% endblock %}</title>

        <!--Import Bootstrap-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>
    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-light navbar-toggleable-sm bg-custom justify-content-center">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand d-flex w-50 mr-auto">EasyCursus</a>
            <div class="navbar-collapse collapse" id="collapsingNavbar3">
                <ul class="navbar-nav mx-auto w-100 justify-content-center">
                    <li class="my-nav-item {{ nav == 'cursus' ? 'active' : '' }}">
                        <a href="/cursus/mes-cursus" class="nav-link">Cursus</a>
                    </li>
                    <li class="my-nav-item {{ nav == 'reglements' ? 'active' : '' }}">
                        <a href="/reglements/mes-reglements" class="nav-link ">Règlements</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dev Tools
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/init_base">Initialiser BDD</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>



        {% block body %}
        {% endblock %}







        <!-- Import jQuery -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="{{ asset('js/tether.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>

        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
