{% extends 'cursus/cursus-subnav.html.twig' %}
{% form_theme form 'form/bootstrap_4_horizontal_layout.html.twig' %}


{% block title %}
    Cursus - Import
{% endblock %}

{% block content %}
        {% if notif is defined and notifClass is defined %}
            <div class="alert alert-{{ notifClass }} alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ notif }}
            </div>
        {% endif %}

    <div class="text-center mb-5">
        <h1>Importer un cursus</h1>
        <p class="lead">Importez un fichier contenant un cursus.</p>
        <a href="/help/cursus/import" class="btn btn-sm btn-secondary">Help</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
