{% extends 'cursus/cursus-subnav.html.twig' %}

{% block title %}
    Mes cursus
{% endblock %}

{% block content %}
    {% if cursus is not empty %}
        <table class="table" id="myTable" cellspacing="0">
            <thead class="thead-default">
            <tr>
                <th>Cursus</th>
                <th>Nom</th>
                <th>N°</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for oneCursus in cursus %}
                <tr>
                    <td>{{ oneCursus.label|e }}</td>
                    <td class="grey">{% if cursus.etudiant.prenom is defined %}{{ oneCursus.etudiant.nom }} {{ oneCursus.etudiant.prenom }}{% else %} ---   {% endif %} </td>
                    <td class="grey"> {% if cursus.etudiant.prenom is defined %}{{ oneCursus.etudiant.id }}{% else %} ---   {% endif %} </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="/cursus/view/{{oneCursus.id}}" class="btn btn-secondary btn-sm" data-toggle="tooltip"
                               data-placement="bottom"
                               title="Voir"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a href="/cursus/update/{{oneCursus.id}}" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                               title="Modifier"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a href="/cursus/duplicate/{{oneCursus.id}}" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
                               title="Dupliquer"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                            <a href="/cursus/delete/{{oneCursus.id}}" class="btn btn-secondary btn-sm text-danger" data-toggle="tooltip"
                               data-placement="bottom"
                               title="Supprimer"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                        </div>

                        <a href="#" class="btn btn-secondary btn-sm"><i class="fa fa-arrow-circle-o-right"
                                                                        aria-hidden="true"></i> Appliquer un règlement</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="text-center grey">
            <h1 class="display-4">Aucun cursus</h1>
            <p class="lead">Créez un nouveau cursus ou importez un fichier au format csv.</p>
        </div>
    {% endif %}





{% endblock %}


{% block javascripts %}
    {% if cursus is not empty %}
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#myTable').DataTable(
                    {
                        language: {
                            processing:     "Traitement en cours...",
                            search:         "Rechercher&nbsp;:",
                            lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                            info:           "Affichage des éléments _START_ &agrave; _END_ sur _TOTAL_ &eacute;" +
                            "l&eacute;ments",
                            infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                            infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                            infoPostFix:    "",
                            loadingRecords: "Chargement en cours...",
                            zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                            emptyTable:     "Aucune donnée disponible dans le tableau",
                            paginate: {
                                first:      "Premier",
                                previous:   "Pr&eacute;c&eacute;dent",
                                next:       "Suivant",
                                last:       "Dernier"
                            },
                            aria: {
                                sortAscending:  ": activer pour trier la colonne par ordre croissant",
                                sortDescending: ": activer pour trier la colonne par ordre décroissant"
                            }
                        },
                    }

                );
            });
        </script>
    {% endif %}
{% endblock %}
