{% extends 'cursus/cursus-subnav.html.twig' %}
{% form_theme form 'form/bootstrap_4_horizontal_layout.html.twig' %}
{% block title %}
  Nouveau cursus
{% endblock %}

{% block content %}

<h3>Cursus</h3>
    <h5>Intitulé</h5>

{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form._token) }}

    {{ form_row(form.label) }}

    <h5>Éléments de formations</h5>
    <ul class="elemFormation" data-prototype="{{ form_widget(form.elementsFormations.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for elemFormation in form.elementsFormations %}
            <li>{{ form_row(elemFormation.sigle) }}</li>
        {% endfor %}
    </ul>
    {{ form_row(form.envoyer) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/form/cursus.js') }}"></script>

{% endblock %}
