{% extends 'cursus/cursus-subnav.html.twig' %}
{% form_theme form 'form/bootstrap_4_horizontal_layout.html.twig' %}
{% block title %}
Nouveau cursus
{% endblock %}


{% block content %}
<link rel="stylesheet" href="{{ asset('css/cursus.css') }}">
<link rel="stylesheet" href="{{ asset('css/nav-pills.css') }}">


<div class="container-fluid col-sm-3 col-md-4 hidden-xs-down bg-faded sidebar">

<nav class="">
  <h5>Éléments de formations</h5>

  <ul class="nav nav-pills flex-column">
    <ul id="elemFormationSidebar" class="elemFormation" data-prototype="{{ form_widget(form.elementsFormations.vars.prototype)|e('html_attr') }}">
      {# iterate over each existing tag and render its only field: name #}
      {% for elemFormation in form.elementsFormations %}
      <li>{{ form_row(elemFormation.sigle) }}</li>
      {% endfor %}
    </ul>
  </ul>
  <button type="submit"  id="bouttonAjouterCours" name="form[envoyer]" class="btn btn-sm btn-outline-success">Ajouter cours</button>
</nav>

</div>

{{ form_start(form) }}

<div class="container-fluid col-sm-9 offset-sm-3 col-md-12 offset-md-4 pt-3">
  <div class="row">





    <main class="">
      <h1>Cursus </h1>

      {{ form_row(form.label) }}

      <h1> Ajouter des semestres et ajouter y vos UE </h1>

      <section class="row text-center placeholders">
        <div class="well-block">
          <div id="main_content">
            <!-- Nav tabs -->

            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">


            <ul  class="nav nav-pills" role="tablist">
              <li class="nav-item"   >
                <a class="nav-link active" role="tab" data-toggle="tab"  href="#form_tab_01" aria-controls="form_tab_01" > Sem1<span ><i class="fa fa-times" aria-hidden="true"></i></span></a>
              </li>

              <li class="nav-item">
                <a class="add-tab"  href="#"  id="main_add"><i class="fa fa-plus"></i> Ajouter Semestre</a>

              </li>
            </ul>
            <!-- Tab panes -->



            <div class="tab-content container-fluid">

              <div class="tab-pane active " id="form_tab_01" role="tabpanel">
                <div id="accordion" class="accordion" role="tablist">
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>


          </div>
        </div>
      </section>

    </main>
  </div>








  {{ form_errors(form) }}
  {{ form_row(form._token) }}


  {{ form_row(form.envoyer) }}
</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/form/cursus.js') }}"></script>
<script src="{{ asset('js/form/cursus-pills.js') }}"></script>

{% endblock %}
