{% extends 'cursus/cursus-subnav.html.twig' %}
{% form_theme form 'form/bootstrap_4_horizontal_layout.html.twig' %}
{% block title %}
Nouveau cursus
{% endblock %}


{% block content %}


<link rel="stylesheet" href="{{ asset('css/cursus.css') }}">
<link rel="stylesheet" href="{{ asset('css/nav-pills.css') }}">


<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
      <ul class="nav nav-pills flex-column">
        <ul class="elemFormation" data-prototype="{{ form_widget(form.elementsFormations.vars.prototype)|e('html_attr') }}">
          {# iterate over each existing tag and render its only field: name #}
          {% for elemFormation in form.elementsFormations %}
          <li>{{ form_row(elemFormation.sigle) }}</li>
          {% endfor %}
        </ul>
      </ul>
      <button type="submit"  id="bouttonAjouterCours" name="form[envoyer]" class="btn btn-sm btn-outline-success">Ajouter cours</button>
    </nav>
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">


      <h1> Ajouter des semestres et ajouter y vos UE </h3>

        <section class="row text-center placeholders">
          <div class="well-block">



            <div id="main_content">
              <!-- Nav tabs -->
              <ul  class="nav nav-pills" role="tablist">
                <li class="nav-item" role="tab" data-toggle="tab"  >
                  <a class="nav-link active"   href="#form_tab_01" >Sem1 <span ><i class="fa fa-times" aria-hidden="true"></i></span></a>
                </li>
                <li class="nav-item">
                  <a class="add-tab"  href="#"  id="main_add"><i class="fa fa-plus"></i> Ajouter Semestre</a>
                </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="form_tab_01" role="tabpanel">


                  <div id="accordion" class="accordion" role="tablist" aria-multiselectable="true">




                  </div>








                </div>
              </div>
            </div>

          </div>

        </section>


      </main>
    </div>
  </div>





  <h3>Cursus</h3>
  <h5>Intitulé</h5>

  {{ form_start(form) }}
  {{ form_errors(form) }}
  {{ form_row(form._token) }}

  {{ form_row(form.label) }}

  <h5>Éléments de formations</h5>

  {{ form_row(form.envoyer) }}

  {% endblock %}

  {% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/form/cursus.js') }}"></script>
  <script src="{{ asset('js/form/cursus-pills.js') }}"></script>

  {% endblock %}
