<tr>
    <td>{% if element.sigle is defined %} {{element.sigle}} {% else %} ---   {% endif %}</td>

    <td>{% if element.categories.label is defined %}
            {% if element.categories.label == "NPML" %}
                <span class="badge badge-success">NPML <i class="fa fa-check-circle" aria-hidden="true"></i></span>
            {% else %}
                {{ element.categories.label }}
            {% endif %}
        {% else %}
            ---
        {% endif %}</td>

    <td>
        {% if element.affectations.label is defined %}
            {% if element.affectations.label == "TC" %}
                <span class="badge badge-tc">TC</span>
            {% elseif element.affectations.label == "TCBR"%}
                <span class="badge badge-tcbr">TCBR</span>
            {% elseif element.affectations.label == "FLBR" %}
                <span class="badge badge-flbr">FLBR</span>
            {% elseif element.affectations.label == "BR" %}
                <span class="badge badge-br">BR</span>
            {% endif %}
        {% else %}
            ---
        {% endif %}</td>

    <td>{% if element.profil is defined %}
            {{element.profil == '1' ? 'Oui' : 'Non'}}
        {% else %}
            ---
        {% endif %}</td>

    <td>{% if element.utt is defined %}
            {{element.utt == '1' ? 'Oui' : 'Non'}}
        {% else %}
            ---
        {% endif %}</td>

    <td>{% if element.credits is defined %} {{element.credits}} {% else %} ---   {% endif %}</td>

    <td>
        {% if element.resultats.label is defined %}
            {% if element.resultats.label == 'A' or element.resultats.label == 'B' or element.resultats
            .label == 'C' %}
                <span class="badge badge-pill badge-success">{{ element.resultats.label }}</span>
            {% elseif element.resultats.label == 'D' or element.resultats.label == 'E' %}
                <span class="badge badge-pill badge-warning">{{ element.resultats.label }}</span>
            {% elseif element.resultats.label == 'F' or element.resultats.label == 'Fx'%}
                <span class="badge badge-pill badge-danger">{{ element.resultats.label }}</span>
            {% else %}
                <span class="badge badge-pill badge-default">{{ element.resultats.label }}</span>
            {% endif %}
        {% else %}
            ---
        {% endif %}
    </td>
</tr>