{% extends 'cursus/cursus-subnav.html.twig' %}

{% block title %}
    Mes cursus
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">

            <h2 class="mb-3">{{cursus.label}}</h2>
            <h4>
                <span class="grey light"> {{cursus.etudiant.prenom}} {{cursus.etudiant.nom}} #{{cursus.etudiant.numEtu}}</span>
                <a href="#" class="pull-right btn btn-sm btn-secondary" id="chooseReglementButton" data-toggle="modal" data-target="#chooseReglement">Appliquer un règlement</a>
            </h4>

            <hr class="jumbotron-hr mb-5">

            {% if cursusElements is defined %}
                {% set previousSemSeq = 0 %}
                {% for element in cursus.elementsFormations %}
                    {% set semSeq = element.semSeq %}
                    {% if semSeq == previousSemSeq %}
                        {% include('cursus/table-cursus-view.html.twig') %}
                        {% set previousSemSeq = semSeq %}
                    {% else %}
                        </tbody>
                        </table>
                        <h5 id="sem{{ semSeq }}"><i class="fa fa-book pr-2" aria-hidden="true"></i> {% if element
                            .semLabel is defined %}
                            {{element.semLabel}} {% else %} ---   {% endif %}</h5>
                        <table class="table mb-5">
                        <thead class="thead-default">
                        <tr>
                            <th>Label</th>
                            <th>Catégorie</th>
                            <th>Affectation</th>
                            <th>UTT</th>
                            <th>Profil</th>
                            <th>Crédits</th>
                            <th>Résultat</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% include('cursus/table-cursus-view.html.twig') %}
                        {% set previousSemSeq = semSeq %}
                    {% endif %}
                {% endfor %}
                </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col-md-1 offset-1">
                    {% if cursusElements is defined %}
                        <nav id="scrollspyToC">
                            <ul class="nav flex-column">
                                {% set previousSemSeq = 0 %}
                                {% for element in cursus.elementsFormations %}
                                    {% set semSeq = element.semSeq %}
                                    {% if semSeq != previousSemSeq %}
                                        <li class="nav-item">
                                            <a href="#sem{{ semSeq }}" class="nav-link">Semestre {{ semSeq }}</a>
                                        </li>
                                        {% set previousSemSeq = semSeq %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </nav>
                    {% endif %}
        </div>
    </div>


    <!-- Modal to choose reglement to apply-->
    <div class="modal hide fade" id="chooseReglement">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-success">Choix du règlement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Quel règlement voulez-vous appliquer à ce cursus ?</p>
                    <select class="custom-select" id="selectReglement">
                        {% for reglement in reglements %}
                            <option value="{{reglement.id}}">{{reglement.label}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="applyReglementButton" data-id="" class="btn btn-success btn-sm">Appliquer</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

{% block javascripts %}
    <script>
        $('body').scrollspy()

        $(document).on('click', '#chooseReglementButton', function(event) {
            event.preventDefault();
            /* Récupération de l'ID du cursus choisi.
             * Ajout de cet ID à l'attribut 'data-id' du bouton appliquer de la fenêtre modale. */
            var cursusId = {{cursus.id}}
            $('#applyReglementButton').attr('data-id', cursusId);
        });

        $(document).on('click', '#applyReglementButton', function(event) {
            event.preventDefault();
            /* Récupération de l'ID du règlement choisi via le select.
             * Récupération de l'ID du cursus choisi via l'attribut 'data-id' configuré dans la méthode précédente. */
            var reglementId = $('#selectReglement').val()
            var cursusId = $(this).data('id')


            window.location.href = "/reglements/" + cursusId + "/" + reglementId

        });
    </script>
{% endblock %}
