{% extends 'etudiants/etudiants-subnav.html.twig' %}


{% block title %}
    Étudiants
{% endblock %}

{% block content %}
    {% if etudiants is not empty %}
        <table class="table text-center" id="myTable" cellspacing="0">
            <thead class="thead-default">
                <tr>
                    <th class="text-center">Numéro</th>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Prénom</th>
                    <th class="text-center">Filière</th>
                    <th class="text-center">Admission</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for etudiant in etudiants %}
                    <tr>
                        <td>{{ etudiant.numEtu }}</td>
                        <td>{{ etudiant.nom }}</td>
                        <td>{{ etudiant.prenom }}</td>
                        <td>{{ etudiant.filieres.label }}</td>
                        <td>{{ etudiant.admissions.label }}</td>
                        <td>
                            <a href="/etudiants/update/{{etudiant.id}}" class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="bottom"
   title="Modifier"><i class="fa fa-pencil" aria-hidden="true"></i></a>

                            <a href="#" id="deleteButton" class="btn btn-sm btn-secondary text-danger" data-id="{{etudiant.id}}" data-firstname="{{ etudiant.prenom }}" data-lastname="{{ etudiant.nom }}" data-toggle="modal" data-target="#confirmDelete">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Modal to confirm delete student -->
        <div class="modal hide fade" id="confirmDelete">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-danger">Suppression d'étudiant</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Voulez-vous vraiment supprimer
                            <span id="toDeleteFirstname"></span>
                            <span id="toDeleteName"></span>
                            ?
                        </p>
                        <p>Les cursus associés à cet étudiant seront également supprimés.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#" id="deleteConfirmedButton" class="btn btn-danger btn-sm">Supprimer</a>
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="text-center grey">
            <h1 class="display-4">Aucun étudiant</h1>
            <p class="lead">Créez un nouvel étudiant ou importez un fichier au format csv contenant un étudiant.</p>
        </div>
    {% endif %}
{% endblock %}





{% block javascripts %}
    {% if etudiants is not empty %}
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#myTable').DataTable(
                    {
                        language: {
                            processing:     "Traitement en cours...",
                            search:         "Rechercher&nbsp;:",
                            lengthMenu:    "Afficher _MENU_ &eacute;l&eacute;ments",
                            info:           "Affichage des éléments _START_ &agrave; _END_ sur _TOTAL_ &eacute;" +
                            "l&eacute;ments",
                            infoEmpty:      "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                            infoFiltered:   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                            infoPostFix:    "",
                            loadingRecords: "Chargement en cours...",
                            zeroRecords:    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                            emptyTable:     "Aucune donnée disponible dans le tableau",
                            paginate: {
                                first:      "Premier",
                                previous:   "Pr&eacute;c&eacute;dent",
                                next:       "Suivant",
                                last:       "Dernier"
                            },
                            aria: {
                                sortAscending:  ": activer pour trier la colonne par ordre croissant",
                                sortDescending: ": activer pour trier la colonne par ordre décroissant"
                            }
                        },
                    }

                );
            });

            /* Modal to confirm student deletion */
            $(document).on('click', '#deleteButton', function(event) {
                event.preventDefault();
                /* Act on the event */
                var firstname = $(this).data('firstname')
                var lastname = $(this).data('lastname')
                var toDeleteId = $(this).data('id')
                $('#toDeleteFirstname').text(firstname)
                $('#toDeleteName').text(lastname)
                $('#deleteConfirmedButton').attr("href", "/etudiants/delete/" + toDeleteId)
            });
        </script>
    {% endif %}
{% endblock %}
